argdb/.ipynb*
argdb/*.ipynb
argdb/*.txt
app.py
docker-compose.yaml
build_deeparg_image.yaml
docs/_build
docs/_static
docs/_templates
*.pyc
/deeparg/short_reads_pipeline/bin/gg13/dataset*
docker-compose.yaml
data
DeepARG.egg-info
build
docker-compose.yaml
build_deeparg_image.yaml
dist
.DS_Store
.gitattributes
setup.cfg
run_test
deeparg_env
WGS_experiments/samples/SAMN*
WGS_experiments/orf_blast_analysis/*.tsv
WGS_experiments/wabi_prelim_analysis/*.tsv
WGS_experiments/orf_blast_analysis/protein_ids.txt
*log*
test/X*
test/*difference*.tsv
WGS_experiments/temp.py
WGS_experiments/bacteria_refseq_protein*
.vscode
WGS_experiments/distribution_analysis/target
database/database_clustering/db*
database/database_clustering/*.csv
database/*.fasta
database/v*.csv
WGS_experiments/distribution_analysis/*.png
WGS_experiments/distribution_analysis/*.txt
WGS_experiments/distribution_analysis/differential_distribution_output
WGS_experiments/distribution_analysis/model_visualization/model_LS.h5
WGS_experiments/distribution_analysis/model_visualization/*.png
WGS_experiments/distribution_analysis/model_visualization/model_SS.h5
WGS_experiments/distribution_analysis/model_visualization/*.csv
WGS_experiments/distribution_analysis/OLD
WGS_experiments/samples/deeparg_hit_count.tsv
database/test.html
database/*.png
database/blast_db.sh
database/blast_results.txt
